<div class="container mt-5">
  <h2>Wibagiwe Ijambo Ry'ibanga</h2>
  <form (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="model.email"
        required
        email
        class="form-control"
        placeholder="Injiza Email yawe"
      />
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="loading">
      {{ loading ? "Ohereza..." : "Ohereza Link yo Kuzimya Ijambo" }}
    </button>
  </form>

  <div *ngIf="success" class="alert alert-success mt-3">
    Niba email yawe ari iy'ukuri, uzakira link yo kuzimya ijambo ry'ibanga.
  </div>
  <div *ngIf="error" class="alert alert-danger mt-3">
    {{ error }}
  </div>
</div>
