<div class="row">
  <div class="col-4">
    <div class="card">
      <img
        src="{{ member.photoUrl || './assets/user.png' }}"
        alt="{{ member.knownAs }}"
        class="card-img-top img-thumbnail"
      />
      <div class="card-body">
        <div
          class="mb-2"
          *ngIf="
            (presenceService.onlineUsers$ | async)?.includes(member.userName)
          "
        >
          <i class="fa fa-user-circle text-success"></i> Ubu ndikurubuga
        </div>

        <div>
          <strong>Aho ntuye:</strong>
          <p>{{ member.city }}, {{ member.country }}</p>
        </div>
        <div>
          <strong>Imyaka:</strong>
          <p>{{ member.age }}</p>
        </div>
        <div>
          <strong>Aheruka hano:</strong>
          <!-- <p>{{ member.lastActive + "Z" | timeago }}</p> -->
          <p>{{ member.lastActive | timeago }}</p>
        </div>
        <div>
          <strong>Umunyamuryango kuva:</strong>
          <!-- <p>{{ member.created | date : "dd MMM yyyy" }}</p> -->
          <p>{{ member.created | date : "dd. MM. yyyy" }}</p>
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary">Nkunda</button>
          <!-- <button class="btn btn-success">Message</button> -->
          <button (click)="selectTab('Messages')" class="btn btn-success">
            Nyandikira
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8">
    <tabset class="member-tabset" #memberTabs>
      <tab
        heading="Ibyerekeye {{ member.knownAs }}"
        (selectTab)="onTabActivated($event)"
      >
        <h4>Ibindanga</h4>
        <p>{{ member.introduction }}</p>
        <h4>Ndifuza</h4>
        <p>{{ member.lookingFor }}</p>
      </tab>
      <tab heading="Ibyo nifuza" (selectTab)="onTabActivated($event)">
        <h4>Ibyifuzo</h4>
        <p>{{ member.interests }}</p>
      </tab>
      <tab
        heading="Amafoto"
        #photoTab="tab"
        (selectTab)="onTabActivated($event)"
      >
        <gallery
          *ngIf="photoTab.active"
          [items]="images"
          class="gallery"
        ></gallery>
      </tab>
      <tab heading="Ubutumwa" (selectTab)="onTabActivated($event)">
        <app-member-messages [username]="member.userName"></app-member-messages>
      </tab>
    </tabset>
  </div>
</div>
