<div class="row" *ngIf="member">
  <div class="col-4">
    <h1>Umwirondoro</h1>
  </div>
  <!-- TODO:-- Change the color of this worning box below -->
  <div class="col-8" col>
    <div class="alert alert-info pb-0" *ngIf="editForm.dirty">
      <p>
        <strong>Kumenyesha: </strong>Wagize ibyo uhindura. Impinduka zose
        utarashimangira zirabura
      </p>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <img
        src="{{ member.photoUrl || './assets/user.png' }}"
        alt="{{ member.knownAs }}"
        class="card-img-top img-thumbnail"
      />
      <div class="card-body">
        <div>
          <strong>Ahomperereye:</strong>
          <p>{{ member.city }}, {{ member.country }}</p>
        </div>
        <div>
          <strong>Imyaka:</strong>
          <p>{{ member.age }}</p>
        </div>
        <div>
          <strong>Aheruka hano:</strong>
          <!-- <p>{{ member.lastActive + "Z" | timeago }}</p> -->
          <p>{{ member.lastActive | timeago }}</p>
        </div>
        <div>
          <strong>Umunyamuryango kuva:</strong>
          <!-- <p>{{ member.created | date : "dd MMM yyyy" }}</p> -->
          <p>{{ member.created | date : "dd. MM. yyyy" }}</p>
        </div>
      </div>
      <div class="card-footer">
        <button
          type="submit"
          [disabled]="!editForm.dirty"
          form="editForm"
          class="btn btn-success col-12"
        >
          Shimangira impinduka
        </button>
      </div>
    </div>
  </div>
  <div class="col-8">
    <tabset class="member-tabs">
      <tab heading="Ibyerecye {{ member.knownAs }}">
        <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">
          <h4 class="mt-2">Uwuriwe</h4>
          <textarea
            class="form-control"
            [(ngModel)]="member.introduction"
            name="introduction"
          >
                   rows="6"
                </textarea
          >
          <h4 class="mt-2">Ndihano kubera</h4>
          <textarea
            class="form-control"
            [(ngModel)]="member.lookingFor"
            name="lookingFor"
          >
                   rows="6"
                </textarea
          >
          <h4 class="mt-2">Ndifuza</h4>
          <textarea
            class="form-control"
            [(ngModel)]="member.interests"
            name="interests"
          >
                   rows="6"
                </textarea
          >
          <h4 class="mt-2">Aho mperereye:</h4>
          <div class="d-flex flex-row align-items-center">
            <label for="city">Umugi: </label>
            <input
              type="text"
              [(ngModel)]="member.city"
              name="city"
              class="form-control mx-2"
            />
            <label for="country">Igihugu: </label>
            <input
              type="text"
              [(ngModel)]="member.country"
              name="country"
              class="form-control mx-2"
            />
          </div>
        </form>
      </tab>
      <tab heading="Hindura cg wongere amafoto">
        <app-photo-editor [member]="member"></app-photo-editor>
      </tab>
    </tabset>
  </div>
</div>
