<div class="text-center mt-3">
  <h2>Abanyamuryango - {{ pagination?.totalItems }} Bariyandikishije</h2>
</div>

<div class="container mt-3" *ngIf="userParams">
  <form
    #form="ngForm"
    class="d-flex mb-3"
    (ngSubmit)="loadMembers()"
    autocomplete="off"
  >
    <div class="d-flex mx-2">
      <label class="col-form-label">Kuva kumyak: </label>
      <input
        type="number"
        class="form-control ms-1"
        style="width: 70px"
        name="minAge"
        [(ngModel)]="userParams.minAge"
      />
    </div>
    <div class="d-flex px-2">
      <label class="col-form-label">Kugeza kumyaka: </label>
      <input
        type="number"
        class="form-control ms-1"
        style="width: 70px"
        name="maxAge"
        [(ngModel)]="userParams.maxAge"
      />
    </div>

    <div class="d-flex px-2">
      <label class="col-form-label me-2">Show | Erekana: </label>
      <select
        name="gender"
        style="width: 130px"
        class="form-select ml-1"
        [(ngModel)]="userParams.gender"
      >
        <option *ngFor="let gender of genderList" [value]="gender.value">
          {{ gender.display }}
        </option>
      </select>
    </div>

    <button class="btn btn-primary ms-1" type="submit">Yungurura</button>
    <button (click)="resetFilters()" class="btn btn-info ms-1" type="submit">
      Subira ukobyaribimeze
    </button>
    <div class="col">
      <div class="btn-group float-end">
        <button
          type="button"
          class="btn btn-primary"
          name="orderBy"
          (click)="loadMembers()"
          btnRadio="lastActive"
          [(ngModel)]="userParams.orderBy"
        >
          Abaherutse hano
        </button>
        <button
          type="button"
          class="btn btn-primary"
          name="orderBy"
          (click)="loadMembers()"
          btnRadio="created"
          [(ngModel)]="userParams.orderBy"
        >
          Abashyashya
        </button>
        <div class="col"></div>
      </div>
    </div>
  </form>

  <br />
  <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
  <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

  <div class="row">
    <!--==================== Left Ads Banner ======================-->
    <div class="col-1">
      <!-- <img
        src="../../../assets/AdBanner015.jpg"
        class="img-thumbnail imgads"
        alt="..."
      /> -->
      <img
        src="../../../assets/AdBanner015.jpg"
        [class.horizontal-image]="!isSmallScreen"
        [class.vertical-image]="isSmallScreen"
        alt="..."
      />
    </div>
    <!-- =============================================================== -->

    <div class="col-md-9 col-sm-auto mbrlist">
      <!--------- Members card --------->
      <div class="row">
        <!-- <div *ngFor="let member of members" class="col-2"> -->
        <div *ngFor="let member of members" class="col-lg-4 col-md-2 col-sm-6">
          <app-member-card [member]="member"></app-member-card>
        </div>
      </div>
      <!-- =============================================== -->
    </div>

    <!--==================== Right Ads Banner ======================-->
    <div class="col-1">
      <!-- <img
        src="../../../assets/AdBanner015.jpg"
        class="img-thumbnail imgads"
        alt="..."
      /> -->
      <img
        src="../../../assets/AdBanner015.jpg"
        [class.horizontal-image]="!isSmallScreen"
        [class.vertical-image]="isSmallScreen"
        alt="..."
      />
    </div>
    <!-- =============================================================== -->
  </div>

  <!-- ------- Members card --------->
  <!-- <div class="row">
    <div *ngFor="let member of members" class="col-2">
      <app-member-card [member]="member"></app-member-card>
    </div>
  </div> -->
  <!-- =============================================== -->

  <!--==================== Right Ads Banner ======================-->
  <!-- <div class="row">
    <div class="col-1">
      <img
        src="../../../assets/AdBanner015.jpg"
        class="img-thumbnail imgads"
        alt="..."
      />
    </div>
  </div> -->
  <!-- =============================================================== -->
</div>

<!--==================== Paginatiomn ======================-->
<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    [maxSize]="10"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>

<!-- =============================================================== -->
