<div class="text-center mt-3">
  <h2>Abanyamuryango - {{ pagination?.totalItems }} Bariyandikishije</h2>
</div>

<div class="container mt-3 mr-3" *ngIf="userParams">
  <div class="container">
    <form
      #form="ngForm"
      (ngSubmit)="loadMembers()"
      autocomplete="off"
      class="mb-3"
    >
      <div class="row">
        <div class="col-sm mb-3 mb-lg-0">
          <label for="minAge" class="form-label">Kuva kumyaka:</label>
          <input
            type="number"
            id="minAge"
            class="form-control"
            name="minAge"
            [(ngModel)]="userParams.minAge"
          />
        </div>
        <div class="col-sm mb-3 mb-lg-0">
          <label for="maxAge" class="form-label">Kugeza kumyaka:</label>
          <input
            type="number"
            id="maxAge"
            class="form-control"
            name="maxAge"
            [(ngModel)]="userParams.maxAge"
          />
        </div>
        <div class="col-sm mb-3 mb-lg-0">
          <label for="gender" class="form-label me-2">Nyereka:</label>
          <select
            id="gender"
            class="form-select"
            name="gender"
            [(ngModel)]="userParams.gender"
          >
            <option *ngFor="let gender of genderList" [value]="gender.value">
              {{ gender.display }}
            </option>
          </select>
        </div>

        <div class="col-lg-4 d-flex align-items-end mb-3 mb-lg-0">
          <div class="ms-2">
            <button type="submit" class="btn btn-primary mb-1 me-2">
              Yungurura
            </button>
            <button
              type="button"
              class="btn btn-info mb-1"
              (click)="resetFilters()"
            >
              Subira ukobyaribimeze
            </button>
          </div>
        </div>
      </div>
    </form>
    <br />
    <br />

    <div class="container">
      <div class="row btn-container justify-content-center">
        <div class="col-5 mb-2 mb-md-0">
          <button
            type="button"
            class="btn btn-custom me-md-2"
            (click)="loadMembers()"
            name="orderBy"
            btnRadio="lastActive"
            [(ngModel)]="userParams.orderBy"
          >
            Abaherutse hano
          </button>
        </div>
        <div class="col-4">
          <button
            type="button"
            class="btn btn-custom ms-md-2"
            (click)="loadMembers()"
            name="orderBy"
            btnRadio="created"
            [(ngModel)]="userParams.orderBy"
          >
            Abashyashya
          </button>
        </div>
      </div>
    </div>
  </div>

  <br />
  <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
  <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

  <div class="row">
    <!--==================== Left Ads Banner ======================-->
    <div class="col-1">
      <img
        [src]="
          isSmallScreen ? smallScreenAdBannerPath : largeScreenAdBannerPath
        "
        class="img-thumbnail imgads smallScreenAdBanner"
        alt="..."
      />
    </div>
    <!-- =============================================================== -->

    <div class="col-md-9 col-sm-auto mbrlist me-1">
      <!--------- Members card --------->
      <div class="row">
        <div *ngFor="let member of members" class="col-lg-4 col-md-2 col-sm-6">
          <app-member-card [member]="member"></app-member-card>
        </div>
      </div>
      <!-- =============================================== -->
    </div>

    <!--==================== Right Ads Banner ======================-->
    <div class="col-1">
      <img
        [src]="
          isSmallScreen ? smallScreenAdBannerPath : largeScreenAdBannerPath
        "
        class="img-thumbnail imgads smallScreenAdBanner"
        alt="..."
      />
    </div>
    <!-- =============================================================== -->
  </div>
</div>

<!--==================== Paginatiomn ======================-->
<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    [maxSize]="10"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>

<!-- =============================================================== -->
