.imgads {
  max-width: 200%;
  height: auto;
}

.mbrlist {
  margin: auto;
}

.horizontal-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.vertical-image {
  height: 100%;
  width: auto;
  border-radius: 8px;
}

@media (max-width: 767px) {
  .smallScreenAdBanner {
    height: auto;
    min-width: 496px !important;
    margin-bottom: 2px;
  }
}

.small-input {
  width: 100px; /* Adjust width as needed */
}

@media (max-width: 992px) {
  .col-lg-2 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
