<div class="container mt-5">
  <h2>Zimya Ijambo Ry'ibanga</h2>
  <form (ngSubmit)="onSubmit()" #resetPasswordForm="ngForm">
    <div class="mb-3">
      <label for="newPassword" class="form-label"
        >Ijambo Ry'ibanga Rishya</label
      >
      <input
        type="password"
        id="newPassword"
        name="newPassword"
        [(ngModel)]="model.newPassword"
        required
        minlength="4"
        maxlength="9"
        class="form-control"
        placeholder="Injiza ijambo ry'ibanga rishya"
      />
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="loading">
      {{ loading ? "Zimya..." : "Zimya Ijambo Ry'ibanga" }}
    </button>
  </form>

  <div *ngIf="success" class="alert alert-success mt-3">
    Ijambo ry'ibanga ryazimye neza! Ushobora kwinjira ukoresheje ijambo ryawe
    rishya.
    <br />
    <a routerLink="/login" class="btn btn-primary mt-2">Injira</a>
  </div>
  <div *ngIf="error" class="alert alert-danger mt-3">
    {{ error }}
  </div>
</div>
