<nav
  class="navbar navbar-expand-md navbar-light bg-light"
  style="
    background-image: url('../../../assets/Artboard 1.png');
    max-height: 190px;
  "
>
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">
      <img class="logImage" src="assets/MutimaLogo03.png" />
    </a>
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <ng-container *ngIf="accountService.currentUser$ | async">
        <li class="nav-item">
          <a class="nav-link" routerLink="/members" routerLinkActive="active"
            >Abanyamuryango</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists" routerLinkActive="active"
            >Abakunzi</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active"
            >Ubutumwa</a
          >
        </li>
        <li *appHasRole="['Admin', 'Moderator']" class="nav-item">
          <a class="nav-link" routerLink="/admin" routerLinkActive="active"
            >Ushinzwe imikorere y'urubuga</a
          >
        </li>
      </ng-container>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/errors" routerLinkActive="active"
          >Errors</a
        >
      </li> -->
    </ul>

    <div
      class="dropdown"
      *ngIf="accountService.currentUser$ | async as user"
      dropdown
    >
      <img src="{{ user.photoUrl || './assets/user.png' }}" alt="user photo" />
      <a
        class="dropdown-toggle text-gray text-decoration-none ms-2"
        dropdownToggle
        >Kazeneza {{ user.knownAs }}</a
      >
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" routerLink="/member/edit"
          >Hindura ibikuranga</a
        >
        <a class="dropdown-item" (click)="logout()">Sohoka</a>
      </div>
    </div>

    <form
      *ngIf="!(accountService.currentUser$ | async)"
      #loginForm="ngForm"
      class="d-flex"
      (ngSubmit)="login()"
      autocomplete="off"
    >
      <input
        name="username"
        [(ngModel)]="model.username"
        class="form-control me-2"
        type="text"
        placeholder="Izina Ukoresha"
      />
      <input
        name="password"
        [(ngModel)]="model.password"
        class="form-control me-2"
        type="password"
        placeholder="Ijambo ry'ibanga"
      />
      <button class="btn btn-success" type="submit">Injira</button>
    </form>
  </div>
</nav>
