<div class="container">
  <div class="row">
    <div class="col-1">
      <img
        src="../../../assets/AdBanner015.jpg"
        class="img-thumbnail imgads"
        alt="..."
      />
    </div>
    <div class="col-md-9 col-sm-auto">
      <div class="text-center regform">
        <img
          src="../../../assets/Learn More Demo 1.png"
          class="img-fluid"
          alt="..."
        />

        <button
          class="btn btn-warning my-2 my-sm-0 ml-1 col-sm-3 okBtn"
          (click)="learnMoreToggle()"
        >
          OK
        </button>
      </div>
    </div>
    <div class="col-1">
      <img
        src="../../../assets/AdBanner015.jpg"
        class="img-thumbnail imgads"
        alt="..."
      />
    </div>
  </div>
</div>
